/************ Login ***************/
.login-section {
  margin: 0;
  padding: auto 2.4rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo,
.create-account {
  margin: 0 auto;
  text-align: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 1.6rem 0px;
  gap: 1.6rem;
}

.input {
  display: flex;
  flex-direction: column;
}
.label {
  font-weight: 400;
  font-size: 1.6rem;
  font-style: normal;
  color: #000000;
  padding-bottom: 8px;
}

.forget {
  color: #000;
  font-weight: 400;
  font-size: 1.6rem;
  text-align: end;
}

.create-account {
  color: #636363;
}

.create-account a {
  color: #0c1f22;
  text-decoration: none;
  font-weight: 600;
}

/************ Signup ***************/
.signup {
  max-width: 32.7rem;

  margin: 3.2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.term {
  align-self: flex-start;
  width: 32.7rem;

  font-size: 1.4rem;
  line-height: 1.7rem;

  color: #747980;
}

.term a,
.back-login a {
  color: #0c1f22;
  text-decoration: none;
  font-weight: 600;
}

/************ Profile ***************/
.section-profile {
  padding-top: 3.2rem;
  padding-bottom: 1.6rem;
}

.profile-heading--container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

.profile-head {
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;

  color: #000;

  padding-bottom: 8px;
}

.beans-remaining {
  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4rem;

  color: #6d6a6a;
}

.beans-remaining strong {
  color: #000;
}

.divider {
  background-color: #f3f3f3;
  height: 0.8rem;
  margin-bottom: 1.6rem;
}

.menu {
  max-width: 32.7rem;
  margin: 0 auto 4rem auto;
}

.menu-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 3.2rem;
  width: 32.7rem;

  position: relative;
}

.menu-list .icon {
  position: absolute;
  right: 0;
  font-size: 2rem;
  padding: auto 0;
}

.menu-link {
  display: inline-block;
  text-decoration: none;

  font-style: normal;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.9rem;

  color: #000000;
}

/************ Refer ***************/

.refer-img-section {
  height: 24rem;
  background-color: #636363;
  margin-bottom: 3.2rem;
}
.code-section {
  padding: 0 4.8rem;
}

.code-input-container {
  display: flex;
  margin-bottom: 2.4rem;
  align-items: center;
  justify-content: center;
}

.code-heading {
  margin-bottom: 3.2rem;
  text-align: center;
}

.code-btn {
  padding: 1.2rem 1.6rem;

  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.9rem;

  border-radius: 0px 8px 8px 0px;
  height: 48px;
  color: #fff;
  background-color: #000000;
  border: none;
}

.code-input {
  border-radius: 8px 0px 0px 8px;
  width: 20.8rem;
}

.code-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;

  color: #6d6a6a;
}

/******** Purchase completed *************/
.purchase-completed-img-section {
  margin: 4rem 2.4rem 4.8rem 2.4rem;
  height: 22rem;
  background-color: #747980;
}

.purchase-completed-body-section {
  margin-bottom: 12.4rem;
}

.purchase-completed-heading {
  text-align: center;
  margin-bottom: 2.4rem;
}

.purchase-completed-detail {
  font-style: normal;
  font-weight: 400;
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;

  color: #6d6a6a;

  padding: 0 4.4rem;
}

.purchase-completed-btn-section {
  margin-bottom: 3.2rem;
}

.btn-back {
  text-decoration: none;
  width: 32.7rem;
}

.btn-back-container {
  background-color: #000;
  border-radius: 8px;
  margin: 0 2.4rem;
}

.btn-back-container p {
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  color: #fff;
  padding: 1.2rem;
}
